<div class="row">
    <h2>Drop us a line!</h2>
    <div class="col-md-5">
      <form role="form" ng-submit="sendQuestion(question)">
        <div class="form-group">
          <input type="text" ng-model="question.username" class="form-control input-lg" placeholder="My name is...">
        </div>
        <div class="form-group">
          <input type="text" ng-model="question.text" class="form-control input-lg" placeholder="I'd like to know more about...">
        </div>
        <div class="form-group">
          <input my-datepicker type="text" ng-model="question.timestamp" class="form-control input-lg" placeholder="My date is...">
        </div>

        <div class="form-group text-center">
          <button ng-show="canSendRequest(question)" type="submit" class="btn btn-info" >Send request</button>
        </div>
      </form>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <div class="">
        {{question.username}}
      </div>
      <div class="">
        {{question.text}}
      </div>
      <div class="">
        {{question.timestamp}}
      </div>

    </div>
</div>
